{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="city1" placeholder="City 1">
        <input type="text" name="city2" placeholder="City 2">
        <button type="submit">Compare Weather</button>
    </form>

    <div class="comparison-container">
        {% if weather_data1 %}
            <div class="city-container">
                {% include 'app/cityweather.html' with weather_data=weather_data1 daily_forecasts=dailyforecasts1 %}
            </div>
        {% endif %}
        {% if weather_data2 %}
            <div class="city-container">
                {% include 'app/cityweather.html' with weather_data=weather_data2 daily_forecasts=dailyforecasts2 %}
            </div>
        {% endif %}

    </div>
</body>
</html>